body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/src/assets/imgs/background.jpg');
    background-size: cover;
    height: 100vh;
    padding: 80px;
}

// Adds black opacity overlay on top of the body background image
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

h1,
h3,
p,
span {
    color: white;
}

main,
.container--left,
.conatiner--right,
.container--bottom {
    position: relative;
    z-index: 2;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container--left {
}

.weather__conditions {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1;
}

.weather__city {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 500;
}

.weather__date {
    font-size: 14px;
    font-weight: 600;
}

.weather__time {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

#temperature {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 2px;
    margin-bottom: 20px;
}

.weather__units {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
}

.weather__units-text {
    margin-bottom: 10px;
    flex-basis: 100%;
}

.celsius {
    margin-right: 5px;
}

.fahrenheit {
    margin-left: 5px;
}

.weather__img {
    width: 100px;
    margin-bottom: 16px;
}

#search {
    background: none;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    padding: 5px 35px 5px 10px;
    font-size: 14px;
    outline: none;
}

#search::placeholder {
    color: white;
    opacity: 0.55;
}

#searchBtn {
    background: url('/src/assets/imgs/search-icon.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 3px;
    right: 55px;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
}

.search__wrapper {
    position: relative;
}

.container--right {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.weather__feels-like,
.weather__humidity,
.weather__chance-of-precip,
.weather__wind-speed {
    display: flex;
}

.feels-like__icon-wrapper,
.humidity__icon-wrapper,
.chance-of-precip__icon-wrapper,
.wind-speed__icon-wrapper {
    margin-right: 10px;
}

.feels-like__title,
.humidity__title,
.chance-of-precip__title,
.wind-speed__title {
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: 600;
}

.feels-like__temperature,
.humidity__percentage,
.chance-of-precip__percentage,
.wind-speed__speed {
    font-size: 26px;
    font-weight: 600;
}

.feels-like__img,
.humidity__img,
.chance-of-precip__img,
.wind-speed__img {
    width: 30px;
}

.container--bottom {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.next-7-days {
    position: absolute;
    top: -63px;
    left: 0;
    font-size: 15px;
    border: 2px solid white;
    padding: 6px 12px;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday {
    font-size: 20px;
    margin-bottom: 20px;
}

.monday__temperature,
.tuesday__temperature,
.wednesday__temperature,
.thursday__temperature,
.friday__temperature,
.saturday__temperature,
.sunday__temperature {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
}

.monday__img,
.tuesday__img,
.wednesday__img,
.thursday__img,
.friday__img,
.saturday__img,
.sunday__img {
    width: 65px;
}
