body {
    position: relative;
    background-image: url('/src/assets/imgs/background.jpg');
    background-size: cover;
}

// Adds black opacity overlay on top of the body background image
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

h1,
h3,
p,
span {
    color: white;
}

main,
.container--left,
.conatiner--right,
.container--bottom {
    position: relative;
    z-index: 2;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    padding: 60px;
}

.container--left {
}

.weather__conditions {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1;
}

.weather__city {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 500;
}

.weather__date {
    font-size: 14px;
    font-weight: 600;
}

.weather__time {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

#temperature {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 2px;
    margin-bottom: 20px;
}

.weather__units {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
}

.weather__units-text {
    margin-bottom: 10px;
    flex-basis: 100%;
}

.celsius {
    margin-right: 5px;
}

.fahrenheit {
    margin-left: 5px;
}

.weather__img {
    width: 100px;
    margin-bottom: 16px;
}

.container--bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 12.5%;
    flex-basis: 100%;
}

.next-7-days {
    flex-basis: 100%;
    margin-bottom: 30px;
}

#search {
    background: none;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    padding: 5px 35px 5px 10px;
    font-size: 14px;
    outline: none;
}

#search::placeholder {
    color: white;
    opacity: 0.55;
}

#searchBtn {
    background: url('/src/assets/imgs/search-icon.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 3px;
    right: 55px;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
}

.search__wrapper {
    position: relative;
}
